*{
    background-color:  #222629;
    color: white;
}
.navbar{
    flex-direction: column;
    justify-content:space-between;
    padding: 20px;
    background-image: url("img/girl\ reading.jpg");
    height: 400px;
}
li {
    display: inline;
}

a {
    color: #86C232;
    text-decoration: none;
}
li a {
    padding: 10px 160px;
}
h1, h2, h3 {
    color: #86C232;
}
h3, h2 {
    text-align: center;
}
.card {
    opacity: 0.7;
    box-shadow: 0 12px 16px 0 #474b4f;
    font-size: large;
    margin-top: 10px;
    text-align:left;
    display: flex;
    flex-direction: column;
}
.card-body {
    width: 60%;
    box-shadow: 0 12px 16px 0 #474b4f;
    text-align:justify;
    

}
.intro {
    display: flex;
    flex-direction: row;
    padding: 20px;
    /* width:80%;  */
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
.names {
    margin-right: auto;
    
}

/*slideshow container */
.slideshow.container {
    max-width:50%;
    position: relative;
    margin: auto;
}
/* hide the images by default */
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top:50%;
    width:auto;
    font-size: 18px;
    transition: 0.8s ease;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.abtme {
    display: flex;
    flex-direction: row;
    width: 83.5%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    margin-top: 5px;
}