*{
    background-color:  #222629;
    color: white;
}
.navbar{
    display: inline;
    flex-direction: column;
    justify-content: space-between;
    color: #6b6e70;
    padding: 16px;
}
li {
    display: inline;
    
}
li a {
    padding: 14px 16px;
}
h1, h2, h3 {
    color: #86C232;
}
h3, h2 {
    text-align: center;
}
.card {
    opacity: 0.7;
    box-shadow: 0 12px 16px 0 #474b4f;
    width: 40%;
    font-size: large;
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.card-body {
    width: 60%;
    box-shadow: 0 12px 16px 0 #474b4f;
    text-align:justify;
    

}
.intro {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width:auto;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.abtme {
    display: flex;
    flex-direction: row;
    width: 83.5%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    margin-top: 5px;
}